body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h1.anchorHeader {
    padding-top: 60px;
    margin-top: -60px;
}